.title {
  margin: 5rem 0 0 0;
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 2rem;
}

.divTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divp {
  width: 80%;
}
.divp p {
  display: flex;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;

}
/* .div_contenedor{
  display: flex;
} */