.home {
  width: 100%;
  height: 100vh;
  background: center / contain no-repeat url('./../../Assets/CARTEL3.jpg');
  /* background-image: url('./../../Assets/CARTEL3.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.home2{
  
}