.App {
  text-align: center;
  background: #0F1215;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;

}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

hr {
  border: solid #283436;
  border-width: 3px 0 0;
  width: 100px;
  height: 0;
  clear: both;
  text-align: left;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: flex;
  width: 88%;
  flex-direction: column;
  align-items: center;
}

hr:hover {
  transform: scale(1.05);
  border: solid #fdc501;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: var(--color-background-dark);
  hyphens: auto;
  user-select: none
}

body::-webkit-scrollbar {
  background-color: #1d1f20;
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

body::-webkit-scrollbar-thumb {
  background: #e64e04;;
  border-radius: 20px;

}